
# OS-specific
.DS_Store

# Vagrant stuff
acceptance_config.yml
boxes/*
/.vagrant

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
/Gemfile.lock
test/tmp/
vendor/

# Ruby Managers
.rbenv
.ruby-gemset
.ruby-version
.rvmrc